notebooks/.ipynb_checkpoints/
*.DS_Store
notebooks/old/
notebooks/user_preds.json
data/.ipynb_checkpoints/
images/chapter_images/
data/anime/
notebooks/8_sawyer_0_grab_data__.ipynb
.idea/
.env
*__pycache__*
notebooks/results.csv
notebooks/wandb/
*.hf
*.jsonl
notebooks/fine_tuned_ir_cross_encoder/